.quotation {
  margin: 0;
}

.add-quote-wrapper {
  display: flex;
  flex-direction: column;
}

.quotation {
  text-align: center;
}

.quote-form-wrapper {
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
}

.quote-form-wrapper textarea {
  height: 100px;
  margin-bottom: 29px;
  width: 70%;
}

.quote-form-wrapper input {
  width: 70%;
  margin-top: 10px;
}

.suggest-wrapper {
  width: 70%;
}

.title-suggest-list:not(:first-child) {
  border-top: 1px solid rgba(107, 114, 128, var(--tw-border-opacity));
}

.close-btn {
  margin-top: 10px;
  background-color: none;
  border: none;
}
