@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&family=IM+Fell+French+Canon&family=Libre+Baskerville:wght@400;700&family=Lily+Script+One&family=Syncopate:wght@400;700&display=swap');

body {
  font-family: Libre Baskerville;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.title {
  font-family: Syncopate;
}


.plus-icon-border {
  color: #F2F2F2;
}

.plus-icon-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.Modal {
  border: none;
}

.quote-ul::before {
  content: "\"";
  font-size: 4.5rem;
  font-family: Lily Script One;
  position: absolute;
  top: 30px;
}

.trash:hover {
  fill: #FE4C04;
}